html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

button {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);

  cursor: pointer;
  border: none;

  font-size: 15px;
  padding: 6px 8px;
}

button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

input {
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border: 2px solid var(--vscode-input-border);

  font-size: 15px;
  padding: 6px 8px;
}
input::placeholder {
  color: var(--vscode-input-placeholderForeground);
}

.message {
  display: flex;
  margin-top: 10px;
  align-items: start;
}

.message-avatar {
  width: 40px;
  height: 40px;
  flex-basis: 40px;
  flex-grow: 0;
  flex-shrink: 0;

  margin-right: 10px;
  border-radius: 5px;

  background-color: rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center center;
}
.message-content {
  display: "flex";
  flex-direction: column;
  align-items: flex-start;
}
.message-username {
  font-weight: bold;
  margin-bottom: 5px;
}
.message-username.loading {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1000px;
  height: 1em;
  width: 100px;
}

.message-username,
.message-text {
  font-family: 20px;
  word-wrap: break-word;
}

.message-text p {
  margin: 0;
}
.typing {
  color: var(--vscode-input-placeholderForeground);
  font-size: 12px;
}

.reaction {
  border: 2px solid var(--vscode-input-border);
  padding: 0px 8px 1px 8px;
  border-radius: 1000px;

  display: flex;
  align-items: center;

  margin-right: 3px;
  margin-top: 3px;

  font-family: 12px;
}

.reaction .reaction-emoji {
  margin-right: 8px;
}

.reaction-emoji img {
  width: 15px;
}
